<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="res/css/style.css">
    <title>Rapid Gossip Sync Workshop</title>
    <script type="importmap">
		{
			"imports": {
				"vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
				"d3": "https://d3js.org/d3.v6.js"
			}
		}
    </script>
	<script src="https://d3js.org/d3.v6.js" type="text/javascript"></script>
	<script src="res/js/app.js" type="module"></script>
</head>
<body>
	<div id="app">
		<template v-if="true">
			<h3>Graph Details</h3>

			<table>
				<tr>
					<th>Node count:</th>
					<td>{{ graphData.nodes.length }}</td>
				</tr>
				<tr>
					<th>Channel count:</th>
					<td>{{ graphData.links.length }}</td>
				</tr>
			</table>

			<div>
				<button @click="downloadGraph" v-if="!initiatedDownload">Download Graph Data</button>
				<span v-else>{{ status }}</span>
			</div>

			<div id="my_dataviz">
				<svg id="d3_graph"></svg>
				Highlighted: <span style="font-family: monospace" v-html="lastClickedDetails"></span>
			</div>

			<button @click="populateLesMisGraph(true)">Render Dummy Data</button>
			<button v-if="isSnapshotParsed" @click="populateLesMisGraph(false)">Render Snapshot Data</button>

		</template>
	</div>
</body>
</html>
